<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmerportal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactUsActivity"></activity>
        <activity android:name=".ProductUpdatedActivity" />
        <activity android:name=".ProductAddedActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".FarmerListActivity" />
        <activity android:name=".MyProductActivity" />
        <activity android:name=".BuyProductActivity" />
        <activity android:name=".BuyerActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AboutusActivity" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".RegisteredActivity" />
        <activity android:name=".ComActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LangActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>